{% extends 'backend/layout/layout.html.twig' %}

{% block body %}
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-body">
                <!-- Bootstrap Validation -->
                <div class="col-md-12 col-12">
                    <div class="card">
                        <div class="user-avatar-section">
                            <div class="d-flex align-items-center flex-column">
                                <div class="card-header">
                                    <h4 class="card-title">Update Category</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {{ form_start(form) }}
                            <div class="mb-1">
                                {{ form_label(form.category_name) }}<br>
                                {{ form_widget(form.category_name) }}
                            </div>
                            <div class="mb-1">
                                {{ form_label(form.status) }}<br>
                                {{ form_widget(form.status) }}<br>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                            {{ form_end(form) }}
                            <!--</form>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}